args==0.1.0
certifi==2022.5.18.1
charset-normalizer==2.0.12
colorama==0.4.4
cycler==0.11.0
docopt==0.6.2
fonttools==4.33.3
fvcore==0.1.5.post20220512
gitdb==4.0.9
GitPython==3.1.27
idna==3.3
iopath==0.1.9
jsonpickle==1.5.2
KDEpy==1.1.0
kiwisolver==1.4.3
matplotlib==3.5.2
munch==2.5.0
numpy==1.22.4
packaging==21.3
pandas==1.4.2
Pillow==9.1.1
portalocker==2.4.0
py-cpuinfo==8.0.0
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2022.1
PyYAML==6.0
requests==2.27.1
sacred==0.8.2
scipy==1.8.1
seaborn==0.11.2
six==1.16.0
smmap==5.0.0
tabulate==0.8.10
termcolor==1.1.0
tqdm==4.64.0
typing-extensions==4.2.0
urllib3==1.26.9
wrapt==1.14.1
yacs==0.1.8
